*{
	margin: 0;
	padding: 0;
}

body{
	padding: 20px 0;
}

#enquiry{
	height: 200px;
}

.warning{
	display: block;
	color: #c60813;
	line-height: 150%;
	font-size: 14px;
}

label, .warning{
	padding-bottom: 0.4em;
}